.login {
  background-image: url("LoginBG.jpg");
  min-width: 100%;
  opacity: 1;
  min-height: 100%;
  background-position: bottom;
  background-size: cover;
  position: fixed;
} 

.boxL {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 310px;
  padding: 40px;
  background: rgba(64, 96, 146, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
@media screen and (max-width: 360px) {
  .boxL {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    padding: 12px;
    background: rgba(64, 96, 146, 0.3);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}

.boxL h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
}

@media screen and (max-width: 360px) {
  .boxL h2 {
    margin: 0 0 15px;
    font-size: 24px;
  }
}

.boxL .inputBoxL {
  position: relative;
  border: none;
}

.boxL .inputBoxL input {
  width: 100%;
  padding: 6px 0;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 360px) {
  .boxL .inputBoxL input {
    font-size: 10px;
  }
}

.boxL .inputBoxL label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

@media screen and (max-width: 360px) {
  .boxL .inputBoxL label {
    font-size: 10px;
  }
}

.boxL .inputBoxL input:focus ~ label,
.boxL .inputBoxL input:valid ~ label {
  top: -26px;
  left: 0;
  color: black;
  font-size: 12px;
}

.buttonLogin {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 125px;
  font-weight: 800;
}

.buttonLogin:hover {
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
}

@media screen and (max-width: 360px) {
  .boxL input[type="submit"] {
    padding: 5px 10px;
  }
}

