.body {
  margin: 0px; 
  padding: 0px;
}

.App1 {
  background-image: url("BG.jpg");
  min-width: 100%;
  opacity: 1;
  min-height: 100%;
  background-position: bottom;
  background-size: cover;
  position: fixed;
}

/* p {
  margin: 0px;
}

header {
  height: 80px;
}

header h1 {
  margin-top: 3px;
  margin-left: 600px;
  font-size: 35px;
} */

.buttonp {
  display: flex;
  align-items: center;
  background-color: rgb(255, 238, 0);
  padding: 8px;
  margin-left: 100px;
  font-size: 15px;
  /*styling of button*/
  border-radius: 10px;
  border-width: 0px;
  font-family: "Segoe UI";
  font-weight: bold;
  box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s;
  cursor: pointer;
}

.buttonp a {
  text-decoration: none;
  color: white;
}

.buttonp:hover {
  background-color: rgba(0, 0, 0, 0.527);
  color: rgb(255, 238, 0);
}

.buttonp span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonp span:after {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.loc {
  background-color: rgb(255, 238, 0);
  padding: 10px;
}

input[id = cartype], select {
  color: rgb(136, 135, 135);
  width: 30%;
  padding: 6px 20px ;
  margin-left: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[id = payment], select {
  width: 30%;
  padding: 6px 20px ;
  margin-left: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}